body {
    margin: 0%;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: small;
}

/*secciones*/
.menu{
    padding: 40px;
    background-color: #BAB6E0;
}

.cuerpo{
    padding: 40px;
    background-color: hsla(281, 80%, 86%, 0.836)
}
  
  .logo img {
    width: 200px;   
}

  .boton-estilo {
    
    text-decoration: none;
    padding: 20px 30px; /* Ajusta el espacio interno del botón */
    background-color: #645EA5; /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    border-radius: 10px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor a manito al pasar sobre el botón */
    outline: none;
    border: none;
  }


#presentacion{
    text-align: center;
    color: white;
    font-size: 10px;

}

/*Estilo carrusel*/

.slider {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
    
  .prev {
   
    grid-column: 1;
    background-color: #BAB6E0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }

  .next {
    
    grid-column: 3;
    background-color: #BAB6E0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #645EA5;
  }


  footer {
    background-color:#BAB6E0;
    color: white;
    text-size-adjust: 5px;
    text-decoration: none;
    font-size: small;
    }
    
    footer .ine { 
        margin-top: 10px;
        text-align: center;
        background-color: #BAB6E0
    }

  
