body {
    margin: 0%;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*secciones*/
.menu{
    padding: 40px;
    background-color: #da91e0;
}

.cuerpo{
    padding: 40px;
    background-color: hsla(281, 80%, 86%, 0.836)
}

/*barra contiene logo*/
.navbar {
    background-color: #84358b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    width: 100px;
    
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .boton-estilo {
    
    text-decoration: none;
    padding: 20px 30px; /* Ajusta el espacio interno del botón */
    background-color: #9e4caf; /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    border-radius: 20px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-right: 10px;
  }
  
  .boton-estilo li {
    display: inline; /* Muestra los elementos de lista en línea */
    margin-right: 10px; /* Ajusta el espacio entre los elementos de lista */
  }


#presentacion{
    text-align: center;
    color: white;

}


footer {
background-color:rgb(150, 96, 197);
color: white;
padding: 5%;
text-decoration: none;

}

footer .ine {
    margin-top: 10px;
    background-color:rgb(158, 125, 188);
    color: white;
    text-align: center;

    padding: 20px;
}
.pie{
    padding: 50vh;
}
/*Estilo carrusel*/

.slider {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
  }
  
  .slide {
    width: 100%;
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
    
  .prev {
   
    grid-column: 1;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .next {
    
    grid-column: 3;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #555;
  }

  
